@media (max-width:1024px) {
    html{
        font-size:80%;
    }
    .container{
        max-width:100%;
        margin:0 60px 100px;
    }
    .proects  h2{
        width:98%;
        margin: 0 auto 1.2em;
    }
    .profile img{
        width: 100%;
    }
}


@media only screen and (max-width:768px) {
    html{
        font-size:62.5%;
    }
    /* profile area */
    .profile-content h1{
        font-size:3.5em;
    }
    .d-flex{
        flex-direction: column;
    }
    .container{
        width: 95%;
        margin: 0 0 30px;
    }

    .profile-box:nth-of-type(1),
    .profile-box:nth-of-type(2){
        margin:2em 0;
    }
    .profile-box .name{
        flex-direction: row;
    } 
    .profile img{
        width: 100%;
    }

    /* project area */
    .proects  h2{
        width:98%;
        margin: 0 auto 1.2em;
    }
    .project-items{
        grid-template-columns: 1fr;
    }
    .sngle-item{
        flex-basis: 0;
        
    }
    /* .trusted-item area */
.trusted{
    margin-bottom: 30px;
    }
    .trusted-item img{
        flex:2;
    }
/* gallary area */
    .gallery .container{
        margin: 0 10px 30px;
    }
    .gallary-items{
        grid-gap: 0;
    }
    .gallery-title h2{
        width:100%;
        margin:20px 0;
    }
    .gallary-item .image-details{
        background-color: rgba(255, 255, 255, 0.616);
        opacity: 1;
    }
}
