@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing:border-box;
}
:root{
    --primary-color:#3730A3;
    --scendary-color:#1F2937;
    --white-color: #fff;
}

body,html{
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
    font-size:100%;
    color:var(--scendary-color)
}
/* common style */
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    font-weight: 700;
}
a{
    text-decoration: none;
}
hr{
    width: 100%;
    margin: 2em 0;
    border:none;
    border-top: 1px solid #6B7280;
}
.container{
    max-width:1228px;
    margin:0 100px 150px;
}
.base-color{
    color: var(--primary-color);
}
.bar{
    content: "";
    width:7.5em;
    height:.1em;
    background-color: var(--primary-color);
}

.btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size:1.125em;
    padding:.4em .8em;
    font-weight: 400;
    border: 1px solid transparent;
    transition: 1s eace;
}
.btn:active{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn:hover{
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    color:var(--primary-color);
}
/* grid and flex common style */
.d-grid{
    display:grid;
    justify-content: center;
    place-items: center;
}
.g-cal-2{
    grid-template-columns: repeat(2,1fr);
}
.g-cal-3{
    grid-template-columns: 1fr 2fr;
}
.d-flex{
    display: flex;
}
.js-space-between{
    justify-content: space-between;
}
.js-center{
    justify-content:center;
}
.align-center{
    align-items: center;
}

/* ============ ===============main section style ==================================== */
/* ===============profile header style ======================= */
.profile{
    margin-top: 150px;
}
.profile-content h3{
    margin-left: .63em;
    font-size:1.25em;
    color: var(--primary-color);
}
.profile-content h1{
    font-size: 4.36em;
    margin: .5em 0;
}

.profile-box:nth-of-type(1){
    margin-right: 2em;
    flex-grow: 1;
}
.profile-box:nth-of-type(2){
    margin-left: 2em;
    flex-grow: 1;
}
.profile-box .btns{
    margin:2.5em 0;
}
.profile-box .btns .btn:nth-of-type(2){
    background-color: var(--white-color);
    border:1px solid var(--primary-color);
    color: var(--primary-color);
    margin-left:1.25em;
}
.profile-box .btns .btn:nth-of-type(2):hover{
    background-color: var(--primary-color);
    border:1px solid transparent;
    color: var(--white-color);
}
.profile img{
    width: 420px;
    border-radius: .5em;
}

/* ===========================project section============================= */

.proects  h2{
    text-align: center;
    width:1039px;
    font-size: 3em;
    margin: 0 auto 150px;
}
.project-items{
    display:grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    grid-column-gap: 2em;
}
.project-items img{
    width:100%;
    height: 100%;
}
.project-item.d-flex{
    flex-wrap: wrap;
}
.sngle-item{
    flex-basis: 50%;
    padding:1.25em;
}
.sngle-item .btn{
    background-color: transparent;
    color:var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-radius: 0;
    padding-left: 0;
    transition: all 1s ease;
}
.sngle-item .btn:hover{
    background-color:var(--primary-color);
    color: var(--white-color);
    padding-left: .8em;
}
/* =================trusted section==================== */
.trusted{
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    margin-bottom:150px;

}
.trusted h3{
    margin: 20px 40px 10px;
    color: #B4A6A2;
}
.trusted-item{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}
.trusted-item img{
    width: 157px;
    height:37px;
    margin: 20px;
}
/* ========== gallery section ============== */

.gallary-items{
    display:grid;
    grid-template-columns: repeat(autofit, minmax(100px , 1fr));
    grid-gap: 30px;
    grid-auto-flow: dense;
}
.gallary-item{
    position: relative;
    
}
.gallary-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure{
    margin:0;
    padding:0;
}
.hr-2{
    grid-column: span 2;
}
.var-2{
    grid-row:  span 2;
}
.hr-full{
    grid-column:  span 3;
}
.gallary-item .image-details{
    position:absolute;
    bottom:20px;
    left:50%;
    right: 50%;
    transform: translatex(-50%);
    background-color: rgba(255, 255, 255, 0.616);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:10px 30px;
    color: var(--scendary-color);
    transition:all 1s ease;
    opacity: 0;
}

.gallery-title h2{
    text-align: center;
    width:1039px;
    font-size: 3em;
    margin: 0 auto 150px;
}
.gallary-item:hover .image-details{
    opacity: 1;
}
.g-text h3{
    color:var(--primary-color);
    font-size:1.2em;
}
.icon{
    font-size: 1.6em;
}
